---
import Navbar from "@/components/Navbar.vue";
import Layout from "../layouts/Layout.astro";
// CSS
import "../styles/global.scss";
import "../styles/ui.css";

import Marquee from "@/components/Hero";
// Welcome to Astro../components/Hero.jsx Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<head>
  <!-- Local: /public/styles/global.css -->
  <!-- External -->
</head>
<Layout>
  <main class="main px-4">
    <div class="container mx-auto">
      <Navbar />
      <Marquee />
    </div>
  </main>
</Layout>
