---
import Layout from "../layouts/Layout.astro";
// CSS
import "../styles/global.scss";
import "../styles/ui.css";

import Services from "@/components/Services";
import Intro from "@/components/Intro";
// Welcome to Astro../components/Hero.jsx Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<head>
  <!-- Local: /public/styles/global.css -->
  <!-- External -->
</head>
<Layout>
  <main class="main p-10">
    <div class="container mx-auto">
      <!--  -->
      <Intro />
      <Services />
    </div>
  </main>
</Layout>
