---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="items-center py-5 justify-items-center">
    <img class="logo" src="icons/logo/logo_white.svg" alt="" width="90px" />
  </div>
  <div>
    <div
      class="items-center border-y border-color py-5 justify-self-center sm:justify-self-auto grid sm:grid-flow-col justify-center gap-5"
    >
      <div class="flex items-center">
        <Icon name="mail" class={"text-secondary"} size={"24px"} />
        <span class="text font-medium">contacto@tupagina.com.pe</span>
      </div>
      <div class="flex items-center">
        <Icon name="mobile" class={"text-secondary"} size={"24px"} />
        <span class="text font-medium">+51 944 568 394</span>
      </div>
      <div class="flex items-center">
        <Icon name="location" class={"text-secondary"} size={"24px"} />
        <span class="text font-medium">Lima, Peru</span>
      </div>
    </div>
  </div>
</footer>
